<div class="bg-boxHighlight p-3 mb-3">
    <div class="row">
        <div class="col-6">
            <h2>Conținutul kitului de pictură pe numere</h2>
            <p>Setul de pictură după numere conține toate ustensilele necesare pentru a putea picta:</p>
            <ul>
                <li>vopsele acrilice, numerotate</li>
                <li>o pânză de calitate tipărită cu desenul pre-numerotat</li>
                <li>vopsele (acrilice) numerotate, în cantitatea și culorile potrivite pentru imaginea din kit</li>
                <li>3 pensule (mică, medie, mare)</li>
                <li>kitul de agățare, respectiv 2 șuruburi și 2 cârlige mici.</li>
                <li>manualul de instrucțiuni pentru pictura după numere, ce poate fi urmat cu ușurință de către oricine</li>
            </ul>
        </div>
        <div class="col-6">
            <div style="text-align: left;"><img alt="Conținutul kitului de pictură pe numere" title="Conținutul kitului de pictură pe numere" src="https://cdn.shopify.com/s/files/1/0511/7054/1719/files/a-keszlet-tartalma_7a2f6d71-bcfe-4691-ab15-e44746e0b552_480x480.jpg?v=1607335392" style="display: block; margin-left: auto; margin-right: auto;" /></div>
        </div>
    </div>
</div>
<div class="mb-3">
    <p>Zici că nu ai venă de artist? Nu-i nimic, acum poți deveni unul cu ajutorul acestui kit de pictură pe numere. Pânza inclusă în kit este imprimată cu contururi numerotate care indică culoarea care trebuie aplicată. Pe lângă faptul că facilitează pictatul în sine, astfel această îndeletnicire devine una facilă și distractivă deopotrivă. Pune-ți creativitatea la lucru!</p>
    <div class="mb-3" style="text-align: center;"></div>
    <div style="text-align: center;"><img src="https://cdn.shopify.com/s/files/1/0610/5215/8180/files/fotobol-szamfesto_600x600.jpg?v=1639001799" alt="Fotografia devine tablou pictat" title="Colorarea tabloului pre-numerotat" /></div>
    <div class="mb-3" style="text-align: center;"></div>
    <p><strong>Kitul de pictură, cadoul surpriză! </strong> Pictura după numere poate fi un mod creativ și plăcut de petrecere a timpului liber, ceea ce face ca un astfel de kit de pictură, oferit cadou celor dragi, să fie o surpriză plăcută.
        Cu acest tip de cadou pot fi surprinși deopotrivă copiii și adulții, iar tablourile rezultate pot fi înrămate și atârnate de oricine în dormitor, în camera de zi, în sufragerie, la birou, în bar, în vitrină sau oriunde se dorește. Poți comanda <a href="https://numerepictate.ro/products/pictura-pe-numere-personalizata-pe-baza-propriei-fotografii" title="Kit personalizat cu fotografia ta">un kit personalizat, realizat după o fotografie de-a ta</a>.</p>
    <p><strong>Pictura pe numere poate fi întâlnită și sub denumirile următoare:</strong> pictură după numere </p>
</div>
<div class="bg-boxHighlight p-3 mb-3">
    <div class="row">
        <div class="col-6">
            <div style="text-align: center;"><img src="https://cdn.shopify.com/s/files/1/0511/7054/1719/files/malen-nach-zahlen-bilder-ausmalen_480x480.gif?v=1607073191" alt="Pictarea tabloului pre-numerotat" title="Pictarea tabloului pre-numerotat" width="465" height="372" /></div>
        </div>
        <div class="col-6">
            <p><strong>Activitate individuală sau de grup.</strong> Această activitate este recomandat celor cărora le place să creeze singuri, în liniște și să se dedice picturii după numere. Desigur, pictatul unui tablou poate fi și o activitate de grup, în sânul familiei sau a prietenilor, fiind la fel de distractiv.</p>
            <p><strong>Știai că procesul de creație ameliorează stresul?</strong> Activitățile creative, sunt in sine recreative. Astfel, pictura, desenul și arta fotografică, toate sunt activități relaxante pentru minte. Alege-ți un set de pictură pe numere care ți se potrivește, apucă pensula și coloreaz-o! Te recreezi în timp ce sub mâinile tale ia naștere un tablou interesant.</p>
        </div>
    </div>
</div>
<div class="mb-3">
    <h2>Comandă setul personalizat de pictură pe numere</h2>
    <p>Pictează un tabou personalizat, realizat după fotografia ta! Pe lângă sutele de imagini din oferta noastră, poți comanda un kit de pictură personalizat. Pentru asta trebuie doar să urci o fotografie, care poate fi din ultimul concediu, despre cățelul sau pisica preferată, despre o frumoasă amintire de familie sau despre ce vrei tu să pictezi. Pe baza pozei trimise, noi vom fabrica setul de pictură personalizat. Mai mult, asta face ca setul personalizat să fie un cadou perfect, pe care să-l oferi celor dragi de ziua lor, de Crăciun sau cu orice ocazie specială.</p>
</div>
<div class="mb-3"><a class="button button--primary mb-3" href="https://szamfestobolt.hu/products/szamfesto-sajat-foto-alapjan" title="Comandă kitul personalizat de pictură">Comandă kitul personalizat de pictură</a></div>
<!--
<div class="ts-compareimg hide-onmobile">
    <div class="twentytwenty-wrapper twentytwenty-horizontal">
        <div class="twentytwenty-container" style="height: 600px;"><img src="//cdn.shopify.com/s/files/1/0610/5215/8180/products/szamfesto-keszlet-minta1_900x.jpg?v=1638746717" loading="lazy" alt="Pictură pe numere - înainte" class="twentytwenty-before" style="clip: rect(0px, 375px, 600px, 0px);" /> <img src="//cdn.shopify.com/s/files/1/0610/5215/8180/products/szamfesto-keszlet-minta1-kesz_413162b8-89cd-411a-af1d-a75bb59ea2e7_900x.jpg?v=1638746717" loading="lazy" alt="Pictură pe numere - după" class="twentytwenty-after" style="clip: rect(0px, 750px, 600px, 375px);" />
            <div class="twentytwenty-overlay">
                <div class="twentytwenty-before-label" data-content="Pictură pe numere - înainte"></div>
                <div class="twentytwenty-after-label" data-content="Pictură pe numere - după"></div>
            </div>
            <div class="twentytwenty-handle" style="left: 375px;"><span class="twentytwenty-left-arrow"></span> <span class="twentytwenty-right-arrow"></span></div>
        </div>
    </div>
</div>
-->
<div class="bg-boxHighlight p-3 mb-3">
    <p><strong>ATENȚIE!</strong></p>
    <p>Multe dintre produsele similare vândute sunt de calitate îndoielnică. Pe <a href="https://numerepictate.ro/">Numerepictate.ro</a> comercializăm exclusiv produse fabricate în UE. Nu lăsa copiii să folosească produsul fără supravegherea unui adult!
</div>
<div style="text-align: center;"><img src="https://cdn.shopify.com/s/files/1/0511/7054/1719/files/malen-nach-zahlen-motive-malen_480x480.gif?v=1607073209" alt="Procesul de pictare a tabloului pre-numerotat" title="Pictarea tabloului pre-numerotat" width="424" height="339" /></div>
<div style="text-align: center;"><iframe width="560" height="315" src="https://www.youtube.com/embed/hHSesa_brsk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></div>